.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 25%;
  border: none;
  padding: 10px;
}

.search-button{
  background-color: rgb(250, 202, 250);
  border: none;
  padding: 12px 25px;
  
  opacity: .9;
  border-radius: 6px;

}

.search-button:hover{
  background-color: rgb(240, 164, 240);
  cursor: pointer;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}