.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.title {
  background: linear-gradient(to top, #cfe0fc 0%, #fbc2eb 100%);
  color: rgb(255, 255, 255);
  border-radius: 40%;
  font-family: Optima, sans-serif;
  font-size: 35pt;

  display: flex;
  justify-content: space-evenly;
  text-align: center;
  position: relative;

  margin-left: 800px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 300px;
  height: 120px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 25%;
  border: none;
  padding: 10px;
}

.search-button {
  background-color: rgb(250, 202, 250);
  border: none;
  padding: 12px 25px;

  opacity: 0.9;
  border-radius: 6px;
}

.search-button:hover {
  background-color: rgb(240, 164, 240);
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Different Screen Sizes */

@media only screen and (min-width: 2000px) {
  .title {
    background: linear-gradient(to top, #cfe0fc 0%, #fbc2eb 100%);
    color: rgb(255, 255, 255);
    border-radius: 40%;
    font-family: Optima, sans-serif;
    font-size: 35pt;

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;

    margin-left: 45%;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 300px;
    height: 120px;
  }
}

@media only screen and (max-width: 1600px) {
  .title {
    background: linear-gradient(to top, #cfe0fc 0%, #fbc2eb 100%);
    color: rgb(255, 255, 255);
    border-radius: 40%;
    font-family: Optima, sans-serif;
    font-size: 35pt;

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;

    margin-left: 550px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 300px;
    height: 120px;
  }
}

@media only Screen and (max-width: 1280px) {
  .title {
    background: linear-gradient(to top, #cfe0fc 0%, #fbc2eb 100%);
    color: rgb(255, 255, 255);
    border-radius: 40%;
    font-family: Optima, sans-serif;
    font-size: 35pt;

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;

    margin-left: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 300px;
    height: 120px;
  }
}

@media only Screen and (max-device-width: 880px) {
  .title {
    background: linear-gradient(to top, #cfe0fc 0%, #fbc2eb 100%);
    color: rgb(255, 255, 255);
    border-radius: 40%;
    font-family: Optima, sans-serif;
    font-size: 35pt;

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;

    margin-left: 240px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 350;
    height: 120px;
  }

  .search-bar {
    width: 40%;
    border: none;
    padding: 10px;
  }
}

@media only Screen and (max-device-width: 600px) {
  .title {
    background: linear-gradient(to top, #cfe0fc 0%, #fbc2eb 100%);
    color: rgb(255, 255, 255);
    border-radius: 40%;
    font-family: Optima, sans-serif;
    font-size: 35pt;

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;

    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 200px;
    height: 120px;
  }

  .search-bar {
    width: 50%;
    border: none;
    padding: 10px;
  }
}

@media only Screen and (max-device-width: 400px) {
  .title {
    background: linear-gradient(to top, #cfe0fc 0%, #fbc2eb 100%);
    color: rgb(255, 255, 255);
    border-radius: 40%;
    font-family: Optima, sans-serif;
    font-size: 35pt;

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;

    margin-left: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 200px;
    height: 120px;
  }

  .search-bar {
    width: 50%;
    border: none;
    padding: 10px;
  }
}
